@model (Segment Segment, List<Point> Points)

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Segment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Points)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Points)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.HasPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.HasPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.PointsDir1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.PointsDir1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.PointsDir2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.PointsDir2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.LicenseForId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.LicenseForId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Foreman)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Foreman.Email)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">Points in the segment</dt>
        |@foreach (var point in Model.Points)
        {
            <dd>@point.Name|</dd>
        }
    </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Segment.Id">Edit</a> |
    <a asp-action="Approve" asp-all-route-id="@Model.Segment.Id">Approve</a>
    <a asp-action="Index">Back to List</a>
</div>
