@model IEnumerable<TripDecorator>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Ended)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Confirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Tourist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Ended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Route.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Tourist.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Trip.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Trip.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Trip.Id">Delete</a> |
                @if (@item.Joined)
                {
                    <a id="leave_link" asp-action="Leave" asp-route-id="@item.Trip.Id">Leave</a>
                }
                else
                {
                    <a id="join_link" asp-action="Join" asp-route-id="@item.Trip.Id">Join</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
