@model (GOTurystyka.Models.Route Route, List<Point> Points)

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.NumberOfPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.NumberOfPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.AlreadyTravelled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.AlreadyTravelled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.DateOfCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.DateOfCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.Approved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.Approved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.Creator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.Creator.Login)
        </dd>
        <dt class="col-sm-2">
            Points
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">Points in the segment</dt>
        |
        @foreach (var point in Model.Points)
        {
            <dd>@point.Name|</dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Route.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
